<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/main.css"/>
<script src="/static/js/mainpages.js" defer></script>
<html>
    <title>
        Byte | Home 
    </title>
    <body>
        <div class="homecontainer">
            <div class = "webheader">
                <div class = "headercontent">
                    <div class="headerhome">
                        <div class="websitelogo">
                            <a href="/mainpage_logged"><img src="/static/img/byte_logo.png"/></a>
                            <span class = "link"> <a style = "color: beige; text-decoration: none" href = "/mainpage_logged"> byte. </a> </span>
                        </div>
                    </div>
                    <div class="headersearchbar">
                        <input type="search" class="searchbar" placeholder="Search byte"/>
                    </div>
                    <div class="headerprofile">
                        <div class="profile">
                            <div class="profileicon">
                                <div class="profileiconholder">
                                    <a href="{{user.userprofilelink}}">
                                    <img src="{{user.pfplink}}"/>
                                    </a>
                                </div>
                            </div>
                            <div class="profilecontainer">
                                <div class="profiledisplayname">
                                    <span>{{user.username}}</span>
                                </div>
                                <div class="profilehandlename">
                                    <span>{{user.userhandle}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="topbuttons">
                            <a href="/Log_out"> Log out </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="createpost">
                <div class="createposticon">
                    <div class="createpostusericonholder">
                        <img src="{{user.pfplink}}"/>
                    </div>
                </div>
                <div class="createposttext">
                    <input type="search" class="posttext" placeholder="Create Post" />
                </div>
                <div class="createpostpic">
                    <a href="/Create_Post">
                    <img src="/static/img/image-alt-regular-24.png"/>
                    </a>
                </div>
                <div class="createpostattach">
                    <a href="/Create_Post">
                    <img src="/static/img/folder-plus-regular-24.png"/>
                    </a>
                </div>
            </div>
            <div class="navigation">
                <div class="communities">
                    <div class="dropdown">
                        <button class="dropbtn">Communities
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a href="/main_community/apple">b/apple</a>
                          <a href="/main_community/webdev">b/webdev</a>
                          <a href="/main_community/pcmasterrace">b/pcmasterrace</a>
                          <a href="/main_community/pcbuilding">b/pcbuilding</a>
                          <a href="/main_community/philippines">b/philippines</a>
                        </div>
                    </div>
                </div>
                <div class="newposts">
                    <a href="/newposts">
                    <img src="/static/img/badge-regular-24.png">
                    </a>
                </div>
                <div class="hotposts">
                    <a href="/hotposts">
                    <img src="/static/img/hot-solid-24.png">
                    </a>
                </div>
            </div>
            {{#each posts}}
                {{> postview this}}
            {{/each}}
        </div>
    </body>
</html>