<!DOCTYPE HTML>
<html>
<head>
    <title> Profile page </title>
    <link rel="stylesheet" type="text/css" href="../public/css/profilepage.css" />
    <script src="../public/js/profile.js" defer></script>
</head>
<body>
    <div class="homecontainer">
        <div class = "webheader">
            <div class = "headercontent">
                <div class="headerhome">
                    <div class="websitelogo">
                        <a href="./main.html"><img src="../public/img/byte_logo.png"/></a>
                        <span class = "link"> <a style = "color: beige; text-decoration: none" href = "./main.html"> byte. </a> </span>
                    </div>
                </div>
                <div class="headersearchbar">
                    <input type="search" class="searchbar" placeholder="Search byte"/>
                </div>
                <div class="headerprofile">
                    <div class="profile">
                        <div class="profileicon">
                            <div class="profileiconholder">
                                <a href="{{CurrUserProfileLink}}">
                                <img src="{{CurrUserProfileImgDir}}"/>
                                </a>
                            </div>
                        </div>
                        <div class="profilecontainer">
                            <div class="profiledisplayname">
                                <span>{{CurrUserDisplayName}}</span>
                            </div>
                            <div class="profilehandlename">
                                <span>{{CurrUserHandle}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="topbuttons">
                        <a href="./main_not_logged.html"> Log out </a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="mainpage"> 
            <div class="profilecontainer1">
                <div class="userinfo">
                    <div class="userpfp">
                        <img class="userimg" src="{{ProfilePfpDir}}" />
                    </div>
                    <div class="pfpeditbutton"> <a href=""> Edit </a></div>
                </div>

                <div class="profileinfo"> 
                    <h3> {{ProfileUsername}} </h3> <span>{{ProfileHandle}}</span><span class="usertitle" style="color: green"> byte Admin</span>
                    <h5> Bits: {{ProfileBits}} </h5>
                    <h4> About me: </h4>
                    
                    <div class="profiledesc">
                        <p>{{ProfileDesc}}!</p>
                    </div>
                        
                    
                    <div class="editbutton"> 
                        <form method="post"><button type="submit">Confirm</button></form>
                        <a href=""> Edit description </a> 
                    </div>
                </div> 
            </div>
            <div class="latestpostscontainer">  
                <h2> Latest Posts: </h2> 
                <div class="latestpost"> 
                    <div class="latestpostinfo">
                        <div class="latestpostpfp"> 
                            <a href="./profilepage1.html"> <img class="userimg" src="../public/img/AYAKA.jpg"/> </a>
                        </div>
                        <p> Wala_3h <br> <span style="padding: 5px;">u/WalaEh</span><br> Bits: 1</p>
                    </div>
                    <div class="latestpostsdetails"> 
                        <h4> <a href="./samplepost1.html"> MDN is very convenient </a> </h4> 
                        <p> It really helped us in creating this website! It gave a fast and easy way to access information to different elements. ^_^ </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>