<!DOCTYPE HTML>
<html>
<head>
    <title> {{returnedPost.postheader}} </title>
    <link rel="stylesheet" type="text/css" href="../public/css/viewpost.css" />
    <script src="../public/js/posts.js" defer></script>
</head>

<body>
    <div class="homecontainer">
        <div class = "webheader">
            <div class = "headercontent">
                <div class="headerhome">
                    <div class="websitelogo">
                        <a href="./mainpage"><img src="../public/img/byte_logo.png"/></a>
                        <span class = "link"> <a style = "color: beige; text-decoration: none" href = "./mainpage"> byte. </a> </span>
                    </div>
                </div>
                <div class="headersearchbar">
                    <input type="search" class="searchbar" placeholder="Search byte"/>
                </div>
                <div class="headerprofile">
                    <div class="profile">
                        <div class="profileicon">
                            <div class="profileiconholder">
                                <a href="{{userPosted.userhandlelink}}">
                                <img src="{{userPosted.pfplink}}"/>
                                </a>
                            </div>
                        </div>
                        <div class="profilecontainer">
                            <div class="profiledisplayname">
                                <span>{{userPosted.username}}</span>
                            </div>
                            <div class="profilehandlename">
                                <span>{{userPosted.userhandle}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="topbuttons">
                        <a href="./main_not_logged.html"> Log out </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainpage"> 
            <div class="postcontainer">
                <div class="userinfo">
                    <div class="postcommunity"> 
                        <h5> {{returnedPost.community}} </h5>
                    </div>
                    <div class ="userpfp">
                        <a href="{{userPosted.username}}"> <img class="userimg" src="{{userPosted.pfplink}}"> </a>
                    </div>
                <div class="postuserinfo"> 
                    <p> {{userPosted.username}} <br><span>{{userPosted.userhandle}}</span><br> Bits: {{userPosted.bits}}</p>
                </div>
                <div class="postdate"> 
                    <h5> Posted on: {{returnedPost.dateofpost}}</h5>
                    <p> {{DateDistance}} </p>
                </div>
            </div>
            <div class="postinfocontainer">
                <h4> {{returnedPost.postheader}} </h4>
                <p> {{returnedPost.postcontent}} </p>
                <div class="postpicturecontent">
                {{#if returnedPost.postpicturecontent}}
                    <img src="{{returnedPost.postpicturecontent}}"/>
                {{else}}
                    <span></span>
                {{/if}}
    </div>
                <div class="footer">
                    <div class="upbit">
                        <img src="../public/img/up-arrow-regular-24.png"/>
                    </div>
                    <div class="downbit">
                        <img src="../public/img/down-arrow-regular-24.png"/>
                    </div>
                    <div class="share">
                        <img src="../public/img/share-regular-24.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="replyinputarea"> 
            <div class="replyinputbox">
                <input type="text" id="replytextcontent" name="replytextcontent" placeholder="Reply to this post..."/> 
            </div>
            <div class="replybutton"> <a href=""> Reply </a> </div>
        </div>
        </div>
        {{#each reply}}
                {{> postreply this}}
        {{/each}}
    </div>
</div>
</body>

</html>