<script src="/static/js/postview.js" defer></script>
<div class="postscontainer"  data-postid="{{postId}}">
    <div class="postheader">
        <div class="communityposticonholder">
            <div class="communityposticon">
                <img src="{{communityinfo.communityicon}}"/>
            </div>
        </div>
        <div class="userpostname">
            <span class="postedon"><a href="{{communityinfo.communitylink}}">{{communityinfo.community}}</a></span>
            <span>·</span>
            <span>Posted by</span>
            <span class="postedby"><a href="{{user.userhandlelink}}">{{user.username}}</a></span>
            <span class="postdate">{{relativeTime dateofpost}}</span>
        </div>
    </div>
    <div class="posttitleheader">
        <span><h3><a href="{{linkofpost}}">{{postheader}}</a></h3></span>
    </div>
    <div class="posttextcontent">
        <span>{{postcontent}}</span> 
    </div>
    <div class="postpicturecontent">
        {{#if postpicturecontent}}
            <img class = "piccontent" src="{{postpicturecontent}}"/>
        {{else}}
            <span></span>
        {{/if}}
    </div>
    <div class="postfooter">
        <div class="upbit">
            <img src="/static/img/up-arrow-regular-24.png"/>
            <span>{{shortenVotes upvotes}}</span>
        </div>
        <div class="downbit">
            <img src="/static/img/down-arrow-regular-24.png"/>
            <span>{{shortenVotes downvotes}}</span>
        </div>
        <div class="comment">
            <img src="/static/img/comment-regular-24.png"/>
        </div>
        <div class="commentcounter">
            <span><a href="{{linkofpost}}">{{numberofreplies}}</a></span>
        </div>
    </div>
</div>