<div class="replycontainer"> 
            <div class="replybox">
                <div class = "replyinfo"> 
                    <input type="hidden" id="replyId" value="{{this.replyId}}">

                    <div class="replypfp"> 
                        <a href="{{user.userhandlelink}}"> <img class="userimg" src="{{user.pfplink}}"> </a>
                    </div>
                    <p> {{user.username}}<span> {{user.userhandle}} </span><br> Bits: {{user.bits}}</p>
                    <div class="postdate"> 
                        <h5> Posted on: {{this.replydate}} </h5>
                        <p> {{this.ReplyDateDistance}} </p>
                    </div>
                </div>
                
                
                <div class="replycontent"> 
                    <p class = "replyvalue"> {{this.replycontent}} <br> </p>
                    <div class="edit-reply-form" style="display: none;">
                            <textarea class="edit-textarea"></textarea>
                            <button type="button" class="savereplybutton">Save</button>
                    </div>
                    <div class="footer">
                    {{#if isOwner}}
                        <div class = "editanddelete">
                            <button type = "button" class = "editreplybutton"> Edit </button>
                            <button type = "button" class = "deletereplybutton"> Delete </button>
                        </div>
                        
                    {{else}}
                        <div class = "editanddelete" style="display: none;">
                            <button type = "button" class = "editreplybutton"> Edit </button>
                            <button type = "button" class = "deletereplybutton"> Delete </button>
                        </div>
                    {{/if}}
                    <div class="upbit">
                        <span> {{shortenVotes this.upvotes}}</span>
                        <img src="/static/img/up-arrow-regular-24.png"/>
                    </div>
                    <div class="downbit">
                        <span> {{shortenVotes this.downvotes}}</span>
                        <img src="/static/img/down-arrow-regular-24.png"/>
                    </div>
                </div>
                </div>
            </div>
            
        </div>

       