<div class="replycontainer"> 
            <div class="replybox">
                <div class = "replyinfo"> 
                    <div class="replypfp"> 
                        <a href="{{ReplierProfileLink}}"> <img class="userimg" src="{{ReplierPfpDir}}"> </a>
                    </div>
                    <p> {{username}} <br><span> {{ReplierHandle}} </span><br> Bits: {{ReplierBits}}</p>
                    <div class="postdate"> 
                        <h5> Posted on: {{replydate}} </h5>
                        <p> {{ReplyDateDistance}} </p>
                    </div>
                </div>
                
                
                <div class="replycontent"> 
                    <p> {{replycontent}} <br> </p>
                    <div class="replybutton"> <a href=""> Reply </a></div>
                </div>
            </div>
        </div>