 <div class="latestpost"> 
    <div class="latestpostinfo">
    <div class="latestpostpfp"> 
        <a href="{{communityinfo.communitylink}}"> <img class="userimg" src="{{communityinfo.communityicon}}"/> </a>
        </div>
         <p> {{username}} <br> <span style="padding: 5px;"> {{userhandle}}</span></p>
    </div>
    <div class="latestpostsdetails"> 
        <h4> <a href="{{linkofpost}}"> {{postheader}} </a> </h4> 
        <p> {{postcontent}} </p>
        <div class="postpicturecontent">
    </div>
    </div>
</div>